
::selection {
	color: color('white');
	background: color('heliotrope');
}

body {
	background: color('haiti');
	position: relative;

	@include sm {
		@include flex-container(column, center, center);
		min-height: 100vh;
	}
}

main {
	max-width: calc-rem(960px);
	padding: calc-rem(50px) 0 calc-rem(70px) 0;

	@include sm {
		padding: calc-rem(100px) 0 calc-rem(150px) 0;
	}
}

a:focus,
button:focus {
	outline: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

img {
	pointer-events: none;
}
